
{% extends 'layout.html' %}
{% block content %}
<h4>Add New PO</h4>
<form method="POST">
  <div class="row">
    <div class="col-md-6"><label>PO Number</label><input name="po_number" class="form-control" required></div>
    <div class="col-md-6"><label>Revised PO</label><input name="revised_po" class="form-control"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6"><label>Location</label><input name="location" class="form-control"></div>
    <div class="col-md-6"><label>PIN Code</label><input name="pin_code" class="form-control"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3"><label>1L</label><input name="product_1l" class="form-control"></div>
    <div class="col-md-3"><label>900ml</label><input name="product_900ml" class="form-control"></div>
    <div class="col-md-3"><label>500ml</label><input name="product_500ml" class="form-control"></div>
    <div class="col-md-3"><label>450ml</label><input name="product_450ml" class="form-control"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4"><label>PO Date</label><input name="po_date" type="date" class="form-control"></div>
    <div class="col-md-4"><label>ASN</label><input name="asn" class="form-control"></div>
    <div class="col-md-4"><label>GRN</label><input name="grn" class="form-control"></div>
  </div>
  <div class="mt-2"><label>Payment Status</label><input name="payment_status" class="form-control"></div>
  <button class="btn btn-success mt-3">Submit</button>
</form>
{% endblock %}
