
{% extends 'layout.html' %}
{% block content %}
<h4>Appointment & Delivery Status</h4>
<table class="table table-bordered">
  <thead><tr><th>PO Number</th><th>PO Location</th><th>Delivery Location</th><th>Confirm Date</th><th>Total Qty</th></tr></thead>
  <tbody>
    {% for row in status_data %}
    <tr>
      <td>{{ row.po_number }}</td>
      <td>{{ row.location }}</td>
      <td>{{ row.delivery_location }}</td>
      <td>{{ row.confirm_date }}</td>
      <td>{{ row.total_po_qty }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
